# build artifacts
/build*/
/out*/
/dist*/
/cmake-build-*/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/*.user
*.obj
*.o
*.pdb
*.ilk
*.dll
*.so
*.dylib
*.a
*.lib
*.exe
*.app

# Qt/Creator
*.pro.user
*.qbs.user
*.qmlc
*.jsc
moc_*
qrc_*
ui_*

# IDEs
.vscode/
.idea/

