{% extends "base.html" %}
{% block content %}
<section class="panel"><div class="panel-header"><h2>Virtual I/O</h2><span class="tag neutral">Simulator Registers</span></div><div class="table-wrap"><table><tr><th>Address</th><th>Name</th><th>Type</th><th>Value</th><th>Status</th></tr><tr><td>40001</td><td>Auger 2 Command</td><td>Output</td><td>0</td><td>Blocked by LOTO</td></tr><tr><td>30012</td><td>Dryer Outlet Moisture</td><td>Input</td><td>16.2%</td><td>Warning</td></tr><tr><td>30021</td><td>Wet Bin Level</td><td>Input</td><td>72%</td><td>Normal</td></tr></table></div></section>
{% endblock %}
